@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300;500&family=Poppins:wght@300&family=Quicksand:wght@300;500;700&display=swap');

:root{
  --fuenteOswald:'Oswald', sans-serif;
}



body{
  margin:0;
  padding: 0;
}
.contedorBannerNav{
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.cartel{
  height: 96vh;
}
.contInfoPrincipal{
  width: 80%;
  margin: 12px;
}
.contInfoPrincipal :nth-child(1){
  font-family: var(--fuenteOswald);
  font-weight: 500;
}
.contInfoPrincipal > :nth-child(2){
  font-family: var(--fuenteOswald);
  font-weight: 200;
  
}

.contInfoPrincipal > :nth-child(3){
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  display: flex;
  animation: saltarin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes saltarin {
  0%{
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }

  50%{
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
  
}
.flex-column{
  display: flex;
  flex-direction: column;
 
}

.space-beetwen{
  justify-content: space-between;
}

.contBanner{
  position: absolute;
  z-index: -1;
}
.contBanner img {
  object-fit: cover;
}
.contenedorNavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  border: 1px white solid;
  border-radius: 12px;
  padding: 0px 24px;
  box-shadow: 3px 9px 5px 3px rgba(0,0,0,0.1);
  background-color: white;
}
.iconMenu img{
  width: 24px;

}
.contenedorNavBar :nth-child(3){
  width: 40px;
}
.logoPrincipal img{
  width: 240px;
}